.bd-dropdown {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.bd-dropdown-toggle {
    background-color: rgb(157, 157, 157);
    color: white;
    padding: 5px;
    width: 40px;
    height: 38px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;

    /* disables double-tap to zoom, which removes the need for the browser to
    delay the generation of click events when the user taps the screen */
    touch-action: manipulation;
    box-sizing: border-box;
}

.bd-dropdown-toggle:hover {
    background-color: rgb(130, 130, 130);
}

.bd-dropdown-menu-measuring-container {
    --bd-dropdown-menu-active-background-color: #dddddd;

    --selected-background-color: #f1f1f1;
    --secondary-selected-background-color: #f8f8f8;
    /* --secondary-selected-background-color: rgb(220, 166, 166); */

    --dropdown-menu-focus-ring-color: rgba(236, 112, 2, 0.65);
    --dropdown-menu-focus-ring-style: 2px solid
        var(--dropdown-menu-focus-ring-color);

    --scroll-arrow-container-height: 35px;
    --border-radius: 6px;
    --dropdown-item-padding: 5px;
    --dropdown-item-container-horizontal-padding: 5px;

    display: none;
    position: absolute;
    background-color: white;
    /* opacity: 0.5; */
    /* width: max-content; */

    max-height: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border: 1px solid #d2d2d2;
    /* border: 10px solid #d2d2d2; */
    border-radius: var(--border-radius);

    overflow: clip;
    overscroll-behavior: none;

    /* background-color: lightblue; */
    box-sizing: border-box;
}

.bd-dropdown-menu-measuring-container-show {
    display: flex;
}

/* MARK: This is the element that creates a scrollport to scroll its content */
.bd-dropdown-menu {
    flex-grow: 1;

    /* this is exactly what I want (but limited availability): set the width to
    max(max-content, 160px) and then constrain max width in javascript to fit
    within the visual viewport, thereby allowing max-width to override the
    min-width when max-width < min-width, which is the opposite of how the CSS
    algorithm works (min- overrides max-) */
    /* MARK: IF RE-ENABLING: remove min-width setting in javascript */
    /* width: calc-size(max-content, max(size, 160px)); */

    min-width: 0;
    width: max-content;

    /* scroll behavior */
    overflow-y: auto;
    overflow-x: clip;
    /* position: relative; */

    /* hide the native scrollbar; instead, the custom scroll bar component will
    be shown */
    scrollbar-width: none;

    overscroll-behavior-y: none;
    scroll-padding-top: var(--scroll-arrow-container-height);
    scroll-padding-bottom: var(--scroll-arrow-container-height);

    /* background-color: lightcoral; */
    box-sizing: border-box;
}

/* .bd-dropdown-submenu {

} */

.bd-dropdown-menu-content {
    padding: 5px 0px;
    overflow: clip;
    /* background-color: lightgreen; */
    /* border: 1px solid green; */
    box-sizing: border-box;
}

.bd-dropdown-item-container {
    /* remove all button styles */
    all: unset;

    box-sizing: border-box;

    padding: 0px var(--dropdown-item-container-horizontal-padding);
    display: block;
    /* this element is a button, so override the default intrinsic size and make
    it expand horizontally to fill the width of the menu */
    width: 100%;
    min-width: 0;
    /* border: 2px solid green; */

    /* disables double-tap to zoom, which removes the need for the browser to
    delay the generation of click events when the user taps the screen */
    touch-action: manipulation;
    cursor: pointer;
    box-sizing: border-box;
}

.bd-dropdown-item {
    /* necessary to create new positioning context so that increasing the
    z-index when the focus ring is visible on this item (see
    `.bd-dropdown-item-container:focus-visible .bd-dropdown-item`) causes it to
    layer above siblings */
    position: relative;

    display: block;

    min-width: 0;

    border-radius: var(--border-radius);

    /* add some padding between focus ring and other dropdown items */
    outline-offset: -1px;
    /* background-color: red; */

    /* disables double-tap to zoom, which removes the need for the browser to
    delay the generation of click events when the user taps the screen */
    touch-action: manipulation;
    box-sizing: border-box;

    /* outline: 1px solid red; */
}

/* MARK: The order of the 4 selectors below is very specific to ensure proper
  background color */

.bd-dropdown-item[data-secondary-focus="true"] {
    background-color: var(--secondary-selected-background-color);
}

.bd-dropdown-item[data-hover="true"] {
    background-color: var(--selected-background-color);
}

.bd-dropdown-item-container:focus-visible .bd-dropdown-item {
    /* ensure focus ring is rendered above all other dropdown items */
    z-index: 3;
    /* on Safari, the focus ring is not always displayed during keyboard
    navigation */
    outline: var(--dropdown-menu-focus-ring-style);

    background-color: var(--selected-background-color);
}

.bd-dropdown-item-container:active .bd-dropdown-item {
    background-color: var(--bd-dropdown-menu-active-background-color);
}

/* --- end ordered selectors --- */

.bd-dropdown-item-label {
    display: flex;

    overflow: clip;
    overflow-wrap: anywhere;

    padding: var(--dropdown-item-padding);

    /* ensures that the label can shrink when the dropdown menu's width is
    constrained by the viewport, and that it will wrap instead of overflowing
    the container */
    min-width: 0;
}

.bd-dropdown-main-debug-id {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    font-size: 0.6em;
    padding: 2px;
    color: black;
    background-color: rgb(from lightgray r g b / 0.8);
}

.bd-dropdown-debug-id {
    color: gray;
    font-size: 0.6em;

    padding: 0 var(--dropdown-item-padding);
}

.bd-disclosure-indicator {
    padding-left: 5px;
    margin-left: auto;
}

.bd-disclosure-indicator[data-submenu-open="true"] {
    color: black;
}

.bd-disclosure-indicator[data-submenu-open="false"] {
    color: gray;
}

.bd-dropdown-divider {
    margin: 5px var(--dropdown-item-container-horizontal-padding);
}
