/* adding a sticky container with a height of zero ensures the element
   does not take up any space in the scroll port */
.bd-dropdown-scroll-arrow-sticky-container {
    position: sticky;
    z-index: 5;
    left: 0;
    right: 0;
    height: 0;

    /* prevent arrows from jiggling up and down due to sub-pixel rounding
    errors */
    transform: translateZ(0);
    will-change: transform;
    box-sizing: border-box;
}

.bd-dropdown-scroll-arrow-sticky-container[data-position="top"] {
    top: 0;
}

.bd-dropdown-scroll-arrow-sticky-container[data-position="bottom"] {
    bottom: 0;
}


.bd-dropdown-scroll-arrow-container {
    position: absolute;

    display: none;
    /* display: flex; */

    /* safari does weird things with the width of the dropdown menu depending on
    whether the scroll arrows are present or not */
    /* visibility: hidden; */

    justify-content: center;
    /* expand to fill all available space on cross axis (y) */
    align-items: stretch;
    height: var(--scroll-arrow-container-height);
    padding: 5px 5px;
    left: 0;
    right: 0;
    /* border: 2px solid green; */

    /* prevent arrows from jiggling up and down due to sub-pixel rounding
    errors */
    transform: translateY(0);
    backface-visibility: hidden;
    box-sizing: border-box;
}

.bd-dropdown-scroll-arrow-container-show {
    display: flex;

    /* visibility: visible; */
}

.bd-dropdown-scroll-arrow-container[data-position="top"] {
    top: 0;

    /* hide subpixel seam at the outer edge */
    box-shadow: 0 -2px 0 0 white;

    /* background-color: white; */
    background: linear-gradient(to top, transparent 0%, white 20%);
}

.bd-dropdown-scroll-arrow-container[data-position="bottom"] {
    bottom: 0;

    /* hide subpixel seam at the outer edge */
    box-shadow: 0 2px 0 0 white;

    /* background-color: white; */
    background: linear-gradient(to bottom, transparent 0%, white 20%);
}

.bd-dropdown-scroll-arrow-container,
.bd-dropdown-scroll-arrow-container * {
    user-select: none;
    /* Safari */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* IE10+/Edge */
    -ms-user-select: none;
}

.bd-dropdown-scroll-arrow {
    /* remove button styles */
    all: unset;

    cursor: pointer;

    display: flex;
    /* expand to fill all available space on main axis (y) */
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    /* border: 2px solid blue; */
    box-sizing: border-box;
}

.bd-dropdown-scroll-arrow:hover {
    background-color: var(--selected-background-color);
}

.bd-dropdown-scroll-arrow:active {
    background-color: var(--bd-dropdown-menu-active-background-color);
}
